
li{
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    margin-left: 8px;
    padding:8px;
    margin-top:-10px;
    margin-bottom:-15px;


    display: inline-block;
    background-color: #cfcdcd;
    color: #797777;
    border-radius: 4px;
  }