<p>Enter Following Data to Signup</p>
<form #userData="ngForm" (ngSubmit)="onSubmit(userData.value)">
   <mat-slider min="1" max="100" step="1" value="50"></mat-slider>






   

   {{userData.value | json}} <!--  it will contain current data
  {{userModel| json}}        // it will contain server ddata

 -->
 <h3>Postman, GIT</h3>
    <input type="text" name="name"  placeholder="Enter your name" ngModel>
    <input type="email" name="email" value= "{{userModel.email}}" placeholder="enter email id" ngModel>
    <input type="password" name="password"  placeholder="Enter password" ngModel>
    <input type="submit">

<br/>
<h3> {{user1}} </h3>
    

</form>