
li{
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    margin-left: 5px;
    padding: 8px;
    display: inline-block;
    background-color: #cfcdcd;
    color: #797777;
    border-radius: 4px;

    margin-top:-20px;
    margin-bottom:0px;

  }
  li a:hover {
    color: white;

  }
  li a.active {
    background-color: black;
  }
  
  a{
    color: #797777;

    text-decoration: none;

  }
  