<p>Enter Following Data to Signup</p>

<mat-slider min="100" max="900" step="1" value="50"></mat-slider>


 <form #userData="ngForm" (ngSubmit)="onSubmit(userData.value)">

  <!--
   {{userData.value | json}}  it will contain current data
   {{userModel| json}}        // it will contain server ddata

  -->
    <input type="text" name="name"  placeholder="Enter your name" ngModel>
    <input type="email" name="email" placeholder="enter email id" ngModel>
    <input type="password" name="password"  placeholder="Enter password" ngModel>
    <input type="submit">

   <br/>
   <h3> {{user1}} </h3>
   
</form> 
