<p>Enter Following Data to Signup</p>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">

{{signupForm.value | json}} <!--  it will contain current data
  {{userModel| json}}        // it will contain server ddata

 --><br>
    <input type="text" formControlName="name"  placeholder="Enter your name" > <br>
    <span class="error" *ngIf="name && name.invalid && name.touched"> Invalid name</span><br>
    <input type="email" formControlName="email" placeholder="enter email id" ><br>
    <input type="password" formControlName="password"  placeholder="Enter password" >

    <button style="cursor:help" class="material-symbols-outlined" mat-raised-button matTooltip="
    1. Password Should be minimum 8 character.
    2. Password Should be maximum 16 character.
    "
    aria-label="Button">
      info
    </button><br>
    <span class="error" *ngIf="password && password.invalid && password.touched"> Password criteria did not Matched</span><br>

    
    <br>
    <input type="password" formControlName="confirmPassword"  placeholder="confirm password" ><br>

    <input type="submit">

<br/>
<h3> </h3>
    

</form>