
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            
            <span class="material-symbols-outlined">
                home
                </span>
                <span> Home</span>    

            <mat-list role="list">
                <mat-list-item role="listitem">
                    <button type="button" routerLink="addperson" mat-button (click)="addPerson()">
                        <span class="material-symbols-outlined">
                           Person
                            </span>   
                        <span> Add Person</span>
                    </button>
                </mat-list-item>


                <mat-list-item role="listitem"> 

                    <button type="button" routerLink="tracker" mat-button (click)="drawer.toggle()">

                        <span class="material-symbols-outlined">
                            person_pin_circle
                            </span>
                            
                        <span> Track </span>
  
                    </button>
                </mat-list-item>     

                <mat-list-item role="listitem"> 

                    <button type="button" routerLink='/home/track' mat-button (click)="drawer.toggle()">

                        <span class="material-symbols-outlined">

                            share_location
        
                        </span>
                        <span> Share Location</span>
  
                    </button>
                </mat-list-item>     
                
                <mat-list-item role="listitem">
                    <button type="button" mat-button (click)="showAbout()">
                        <span class="material-symbols-outlined">
                                info
                            </span>  
                            <span> About Us</span>
                    </button>
                </mat-list-item>  
                
                <mat-list-item role="listitem">
                    <button type="button" mat-button (click)="showHelp()">
                        <span class="material-symbols-outlined">
                            Help
                            </span> 
                        <span> Need Help</span>
                    </button>
                </mat-list-item>   

                <mat-list-item role="listitem">
                    <button type="button" mat-button (click)="showInstructions()">
                        <span class="material-symbols-outlined">
                            perm_device_information 
                            </span>  

                        <span> Instructions</span>
                    </button>
                </mat-list-item>  

                <mat-list-item role="listitem">
                    <button type="button" mat-button (click)="logout()">
                        <span class="material-symbols-outlined">
                            logout 
                            </span>  

                        <span> Logout</span>
                    </button>
                </mat-list-item>  

              </mat-list>
          
        </mat-drawer>
    
        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
                <span class="material-symbols-outlined">
                    menu
                    </span>  
                </button>
                
            <span style="color: rgb(220, 128, 58); font-size:large;">Track</span>

            </div>

          <router-outlet></router-outlet>

        </mat-drawer-container> 
