<br><br>
<div class="container">
    <div class="row">

        <div class="col-sm-3 ">

            <h5 class="">N D S</h5>

        </div>

        <div class="col-sm-6">
            <form action="self" class="form-group">
                 <input class="test" class="form-control" placeholder="How may we help you! with honor ">
             <input type="submit" class="show align-right">
            </form>
            

        </div>

        <div class="col-sm-3">

            <a type="button" target="blank" routerLink="login"  class="btn btn-outline-success">Login/ Signup</a>

        </div>
    </div>

